<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <card-tag img-src="https://picsum.photos/id/1022/250" title="title1" description="description1"></card-tag>
        <card-tag img-src="https://picsum.photos/id/1011/250" title="title2" description="description2"></card-tag>
        <card-tag img-src="https://picsum.photos/id/1012/250" title="title3" description="description3"></card-tag>
    </div>
    <script src="index.js" type="module"></script>
</body>
</html>