*{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border-radius: 10px;
    user-select: none;
}

.container{
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    position: absolute;
}

.propose{
    padding: 10% 10%;
    background-color: #4e4e4e;
    font-size: 2vw;
}

.answers{
    margin-top: 50px;
    display: inline-flex;
    font-size: 20px;
    width: 100%;
    border-spacing: 10px;
    justify-content: space-between;
}

.reverse{
    flex-direction: row-reverse;
}

.answers div{
    padding: 7% 5%;
    width: 20%;
    font-size: 1.5vw;
}

.answers div:hover{
    cursor: pointer;
}

#yes{
    background-color: #89ce89;
}

#no{
    background-color: #e26262;
}